<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bicycle Rental</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <h2 class="logo">Bicycle Rental</h2>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li>
                    <a href="/register" >Register</a>
                </li>
            </ul>
        </div>
    </nav>

 

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
